<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <% if event.un_published? %>
        <div class="card-footer">
          <div class="btn btn-danger" style="display: block;">UnPublised</div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
